.userCardWrapper {
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px lightgray;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  gap: 5px;
  width: 40%;
}

.userThumbnailWrapper {
  border-radius: 100%;
}

.userDetailsWrapper p,
.userDetailsWrapper h3 {
  line-height: 0.25;
}

.userDetailsWrapper a {
  text-decoration: none;
}
